<div class="furniture-page">
  <p id="notice"><%= notice %></p>
  <h1 class="form-title">Заказы</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Пользователь</th>
        <th scope="col">Дата</th>
        <th scope="col">Имя</th>
        <th scope="col">Телефон</th>
        <th scope="col">Адрес</th>
        <th scope="col">Товар</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.user_id %></td>
          <td><%= order.date %></td>
          <td><%= order.name %></td>
          <td><%= order.telephone %></td>
          <td><%= order.address %></td>
          <td><%= order.furniture_id %>
          <td><%= link_to 'Показать', order, class: "btn btn-primary" %></td>
          <td><%= link_to 'Редактировать', edit_order_path(order), class: "btn btn-primary"%></td>
          <td><%= link_to 'Удалить', order, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Новый заказ', new_order_path, class: "btn btn-primary" %>
</div>
